.social-links {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accennt-color);
  }
}

.icon-card-sl {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
  .social-links:hover &,
  .social-links:focus & {
    fill: #ffffff;
  }
}
.icon-card-sl:hover {
  fill: #ffffff;
}
.card-social-links {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
